@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* layers */
/*
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* apply Tailwind's 'dark:' selector for specific themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* dark/light mode variables */
@theme {
  --color-background: oklch(100% 0 0);
  --color-content: oklch(21% 0.006 285.885);

  --color-primary: oklch(0.14 0.005 285.823);
  --color-primary-content: oklch(0.92 0.004 286.32);

  --color-secondary: #fdf0ec; /* vanilla */

  --border-color: oklch(92.8% 0.006 264.531);
}

@layer base {
  @variant dark {
    --color-background: oklch(25.33% 0.016 252.42);
    --color-content: oklch(97.807% 0.029 256.847);

    --color-primary: oklch(0.92 0.004 286.32);
    --color-primary-content: oklch(0.14 0.005 285.823);

    --color-secondary: #374151;

    --border-color: oklch(44.6% 0.03 256.802);
  }
}

/* base rules*/
@layer base {
  :root {
    background-color: var(--color-background);
    color: var(--color-content);
  }

  /* general */
  a {
    @apply hover:underline hover:underline-offset-4;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  small {
    @apply text-sm font-light;
  }
}

/* components */
@layer components {
  .btn {
    @apply px-7 py-3 text-lg font-bold no-underline hover:opacity-80 transition-all duration-300;

    background-color: var(--color-primary);
    color: var(--color-primary-content);
  }

  .badge {
    @apply px-1 py-0 text-sm border rounded;
  }

  .card {
    @apply border shadow p-5 rounded mb-8;
    border-color: var(--border-color);
    h2 {
      @apply text-xl font-semibold;
    }
    p {
      @apply text-lg;
    }
  }

  .page-title {
    background-color: var(--color-secondary);
  }
}

@utility header-border-color {
  border-color: var(--border-color);
}
@utility footer-border-color {
  border-color: var(--border-color);
}

@utility navbar-custom {
  padding: 0.5rem 0 !important;

  a {
    @apply text-lg! font-medium hover:no-underline hover:opacity-70 transition-opacity duration-300 hover:bg-transparent!;
  }
  a.active {
    @apply opacity-70;
  }
}

/* remove line-height */
footer #copyright {
  @apply leading-none;
  & > * {
    @apply leading-none;
  }
}

.bg-preview0 {
  background-image: repeating-linear-gradient(
    -45deg,
    #eee,
    #eee 20px,
    #fff 20px,
    #fff 40px
  );
}

.border-preview0 {
  @apply border border-dashed border-gray-500/70;
}
