@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* layers */
/*
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* apply Tailwind's 'dark:' selector for specific themes */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* dark/light mode variables */
@theme {
  /* typgraphy (from tw typgrapht gray theme) */
  --color-body: theme("colors.gray.700");
  --color-headings: theme("colors.gray.900");
  --color-links: theme("colors.gray.900");
  --color-bold: theme("colors.gray.900");

  --color-background: oklch(100% 0 0);
  --color-primary: oklch(0.14 0.005 285.823);
  --color-primary-content: oklch(0.92 0.004 286.32);
  --color-secondary: #fdf0ec; /* vanilla */
  --border-color: oklch(92.8% 0.006 264.531);
}

@layer base {
  @variant dark {
    --color-body: theme("colors.gray.300");
    --color-headings: theme("colors.white");
    --color-links: theme("colors.white");
    --color-bold: theme("colors.white");

    --color-background: oklch(0.2533 0.016 252.42);
    --color-primary: oklch(0.92 0.004 286.32);
    --color-primary-content: oklch(0.14 0.005 285.823);
    --color-secondary: #374151;
    --border-color: oklch(44.6% 0.03 256.802);
  }
}

/* base rules*/
@layer base {
  :root {
    background-color: var(--color-background);
    color: var(--color-body);
  }

  /* general */
  p {
    @apply text-lg/normal mb-4;
  }

  a {
    color: var(--color-link);
    @apply hover:underline hover:underline-offset-4;
  }

  h1,
  h2,
  h3 {
    color: var(--color-headings);
  }

  h1 {
    @apply text-3xl/snug font-bold mb-3;
  }

  h2 {
    @apply text-2xl/snug font-semibold mb-2;
  }

  h3 {
    @apply text-xl/normal font-semibold mb-3;
  }

  small,
  .small {
    @apply text-sm/normal font-light mb-2;
  }

  pre {
    @apply bg-transparent! p-0! rounded!;
  }

  nav {
    * {
      @apply m-0;
    }
    a {
      @apply duration-300;

      &:hover,
      &.active {
        @apply no-underline;
        @apply dark:bg-gray-700 bg-gray-100;
      }
    }

    #mobile-menu a {
      @apply block;
    }

    button#burger {
      @apply dark:text-white;

      &:hover {
        @apply dark:bg-gray-700 dark:text-white;
      }
      &:focus {
        @apply ring-2 dark:ring-white outline-hidden ring-inset;
      }
    }
  }
}

/* components */
@layer components {
  .btn {
    @apply px-7 py-2 text-lg font-bold no-underline hover:opacity-80 transition-all duration-300;

    background-color: var(--color-primary);
    color: var(--color-primary-content);
  }

  .badge {
    @apply px-1 py-0 text-sm border rounded;
  }

  .card {
    @apply border shadow p-5 rounded mb-8;
    border-color: var(--border-color);
  }

  .page-title {
    background-color: var(--color-secondary);
  }
}

@utility header-border-color {
  border-color: var(--border-color);
}
@utility footer-border-color {
  border-color: var(--border-color);
}

/* remove line-height */
footer #copyright {
  @apply leading-none;
  & > * {
    @apply leading-none mb-0;
  }
}

.bg-preview0 {
  background-image: repeating-linear-gradient(
    -45deg,
    #eee,
    #eee 20px,
    #fff 20px,
    #fff 40px
  );
}

.border-preview0 {
  @apply border border-dashed border-gray-500/70;
}
